<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: head">

</head>

<body>
    <nav th:replace="base :: nav">

    </nav>

    <div class="container">
        <h2>Actualizar Cliente</h2>
        <br />
        <div class="row">
            <form class="col s12" th:action="@{/clientes/actualizar/{id}(id=${cliente.idCliente})}" th:object="${cliente}" method="POST">
                <div class="row">
                    <div class="input-field col s4">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="nombre_prefix" type="text" class="validate" name="nombre" th:field="*{nombre}"
                            required>
                        <label for="nombre_prefix">Nombre completo</label>
                    </div>
                    <div class="input-field col s4">
                        <i class="material-icons prefix">phone</i>
                        <input id="telefono_prefix" type="number" class="validate" name="telefono" th:field="*{telefono}"
                            required>
                        <label for="telefono_prefix">Teléfono</label>
                    </div>
                    <div class="input-field col s4">
                        <i class="material-icons prefix">location_on</i>
                        <input id="direccion_prefix" type="text" class="validate" name="direccion" th:field="*{direccion}"
                            required>
                        <label for="direccion_prefix">Dirección de residencia</label>
                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Actualizar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>