<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="base :: head">

</head>

<body>
    <nav th:replace="base :: nav"></nav>

    <div class="container">
        <h2>Lista de Autores</h2>
        <a th:href="@{/autores/nuevo}" class="waves-effect waver-light btn">Nuevo Autor</a>
        <br/>
        <br/>
        <table class="striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>País</th>
                    <th>F. Nacimiento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="autor: ${autores}">
                    <td th:text="${autor.idAutor}"></td>
                    <td th:text="${autor.nombre}"></td>
                    <td th:text="${autor.nacionalidad}"></td>
                    <td th:text="${autor.fechaNacimiento}"></td>
                    <td>
                        <a th:href="@{/autores/editar/{id}(id=${autor.idAutor})}" class="waves-effect orange lighten-1 btn">Editar</a>
                        <a th:href="@{/autores/eliminar/{id}(id=${autor.idAutor})}" class="waves-effect red lighten-1 btn">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>